.container {
  margin-top: 160px;
  justify-content: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.content {
  width: 800px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.formContent {
  width: 800px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
